<% provide(:title, "Contact") %>

<% provide(:image, "/assets/contact.png") %>
<% provide(:description, "Contact Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nisi quibusdam, aliquid commodi laboriosam tenetur quis dicta error, omnis cumque, illum! Tempora iste a iusto ipsam vitae, quos autem vel?") %>

<h1>Contact</h1>